<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= character.name %> - Fantaji</title>
</head>

<body>
    <h1>Character</h1>
    <div>
        <ul>
            <li>Name: <%= character.name %></li>
            <li>Race: <%= character.race %></li>
            <li>Class: <%= character.class %></li>
            <li>Alignment: <%= character.alignment %></li>
            <li>Equipment: <%= character.equipments[0] %></li>
        </ul>
    </div>
    <a href="/characters/<%= character._id %>/edit">Edit Character</a>
    <form action="/characters/<%= character._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    <a href="/characters">Characters</a>
</body>

</html>